<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="https://kauth.kakao.com/oauth/authorize?client_id=6d35286d18b06aa91f75f81202a71203&redirect_uri=http://localhost:8888/login/oauth2/code/kakao&response_type=code"> 카카오 인가코드 발습</a>

<!--<a href="https://nid.naver.com/oauth2.0/authorize?client_id=5EqPiMEcHUi0GoU53TMk&redirect_uri=http://43.200.219.233:8888/login/oauth2/code/naver&response_type=code"> 네이버 인가코드 발습</a>-->
</body>
</html>